[Unit]
Description=Onionprobe
After=network.target

[Service]
ExecStart=/usr/bin/onionprobe -c /etc/onionprobe/onionprobe.yaml
User=_onionprobe
Group=_onionprobe

[Install]
WantedBy=multi-user.target
