[Unit]
Description=Onionprobe
After=network.target

[Service]
EnvironmentFile=/etc/default/onionprobe
ExecStart=/usr/bin/onionprobe $DAEMON_OPTS
User=_onionprobe
Group=_onionprobe

[Install]
WantedBy=multi-user.target
