#
# Sample Docker Compose environment file for the Onionprobe monitoring node.
#
# Copyright (C) 2022 Silvio Rhatto <rhatto@torproject.org>
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published
# by the Free Software Foundation, either version 3 of the License,
# or any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.

# Enforces the project name if needed
#COMPOSE_PROJECT_NAME=onionprobe

# Set this to the UID and GID of the user running the container service
# This sets proper permissions for the configurator service to write
# into the config folder.
#CONTAINER_UID=1000
#CONTAINER_GID=1000

# Select which services should start
#COMPOSE_PROFILES=all

# Specify which Onionprobe configuration file to use
# Path is relative to the Onionprobe repository
#ONIONPROBE_CONFIG=configs/tor.yaml

# Specify the Prometheus config to use
# Path is relative to the Onionprobe repository
#PROMETHEUS_CONFIG=configs/prometheus/prometheus.yml

# Specify the Prometheus rules file to use
# Path is relative to the Onionprobe repository
#PROMETHEUS_RULES=configs/prometheus/prometheus-rules.yml

# Specify the Alertmanager config to use
# Path is relative to the Onionprobe repository
#ALERTMANAGER_CONFIG=configs/alertmanager/alertmanager.yml

# Path is relative to the Onionprobe repository
# Specify the configurator to use
#CONFIGURATOR_ENTRYPOINT=packages/tpo.py

# Specify custom configurator arguments
#CONFIGURATOR_PARAMS=--wait 240 --config_overrides rounds=20 --output_folder /srv/onionprobe/contrib --config_template /srv/onionprobe/configs/tor.yaml

# Grafana PostgreSQL database password
#GRAFANA_DATABASE_PASSWORD=unsafe-password-please-change

# Specify the folder where Grafana provisioning data is available
# Path is relative to the Onionprobe repository
#GRAFANA_PROVISIONING=configs/grafana/provisioning
